annotated-types==0.7.0
astroid==3.3.9
blinker==1.9.0
click==8.1.8
dill==0.3.9
Flask==3.1.0
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
packaging==24.2
parso==0.8.4
platformdirs==4.3.7
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.0.1
pylint==3.3.6
PyMySQL==1.1.1
pyproject-toml==0.1.0
python-dotenv==1.0.1
SQLAlchemy==2.0.39
tomlkit==0.13.2
typing_extensions==4.12.2
Werkzeug==3.1.3
